/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

background-image: url('assets/imagenes/ImgBoutique.jpg');
background-size: cover;
background-position: center;
height: 100vh;
position: fixed;
width: 100%;
z-index: -1; ;

}


div.mat-mdc-snack-bar-label.mdc-snackbar__label{

    background-color: greenyellow;
    color: black;
    text-align: center;

    margin: auto;
}


